.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  padding: 40px 20px;
  max-width: 1800px;
  width: calc(100% - 80px);
  margin: 0 auto;
  gap: 32px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
  }

  &_filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // width: 280px;

    &_categories {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      min-width: 240px;
      max-width: 320px;
    }
  }

  &_leftSide {
    // width: 100%;
    max-width: 660px;
    height: auto;

    @media screen and (min-width: 1650px) {
      max-width: 770px;
      width: 100%;
    }

    @media screen and (max-width: 1420px) and (min-width: 1201px) {
      max-width: 500px;
    }

    @media screen and (max-width: 1200px) {
      width: calc(100vw - 2rem);
      height: auto;
      max-width: calc(100vw - 4rem);
    }
  }

  &_rightSide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;

    &_title {
      -webkit-font-smoothing: antialiased;
      cursor: default;
      text-align: left;
      box-sizing: content-box;
      font-weight: 600;
      color: #000000;
      font-size: 24px;
      line-height: 1.35;
      font-family: "Segoe UI Semibold", sans-serif;
    }

    &_brand {
      -webkit-font-smoothing: antialiased;
      cursor: default;
      text-align: left;
      box-sizing: content-box;
      font-weight: 400;
      font-size: 17px;
      line-height: 1.55;
      color: #777;
      margin-top: 4px;
    }

    &_price {
      -webkit-font-smoothing: antialiased;
      cursor: default;
      text-align: left;
      box-sizing: content-box;
      color: #e62229;
      font-size: 24px;
      font-family: "Segoe UI Bold", sans-serif;
      line-height: 1.35;
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
      font-weight: 400;
    }

    &_text {
      -webkit-font-smoothing: antialiased;
      cursor: default;
      text-align: left;
      box-sizing: content-box;
      font-weight: 400;
      color: #2b2b2b;
      font-size: 17px;
      line-height: 1.55;
      margin: 0;
    }
  }
}

.table {
  &_left {
    text-wrap: nowrap;
    text-align: left;
  }

  &_right {
    text-align: left;
  }
}

.backBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all linear 0.2s;
  color: #2b2b2b;
  margin: 1rem 0 0 1rem;

  &:focus,
  :focus-visible {
    border: none;
    background-color: transparent;
    outline: none;
  }

  &:hover {
    gap: 20px;
    color: #e62229;
  }
}

.slider {
  div > div {
    &:hover {
      button[aria-label="Previous Slide"] {
        opacity: 1;
      }
      button[aria-label="Next Slide"] {
        opacity: 1;
      }
      button[aria-label="Open Fullscreen"] {
        opacity: 1;
      }
    }
    button[aria-label="Previous Slide"] {
      transition: all linear 0.3s;
      opacity: 0;
    }
    button[aria-label="Next Slide"] {
      transition: all linear 0.3s;
      opacity: 0;
    }
    button[aria-label="Open Fullscreen"] {
      transition: all linear 0.3s;
      opacity: 0;
    }
  }
}

.allCatSelector {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: #454545;
  line-height: 1.35;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 15px;
  opacity: 0.9;

  &:hover {
    font-weight: 600;
    font-family: "Segoe UI Semibold", Arial, sans-serif;
  }
}

.tech {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  th, td {
    font-size: 17px;
  }

  @media screen and (max-width: 1200px) {
    max-width: calc(100vw - 4rem);
    padding: 0 0 2rem;
  }

  &_title {
    -webkit-font-smoothing: antialiased;
    cursor: default;
    text-align: left;
    width: 100%;
    box-sizing: content-box;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.55;
    color: #000000;
    margin-top: 4px;
  }
}

.selected {
  color: #e62229;
  font-weight: 600;
  font-family: "Segoe UI Semibold", Arial, sans-serif;
}

.addCart {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Semibold", Arial, sans-serif;
  border: 0 none;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  user-select: none;
  box-sizing: border-box;
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 17px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 5px;
  outline: none;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  -webkit-border-radius: 20px;
  transition: background-color ease-in 0.2s;

  &:hover {
    background-color: #e62229;
  }
}
